.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product > img {
  width: 297px;
  height: 445px;
  cursor: pointer;
}

.product > img:hover {
    transform: scale(1.1);
}