.product {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product > a > img {
  width: 297px;
  height: 445px;
  cursor: pointer;
}

.product > span {
  font-weight: 600;
}

.product > a> img:hover {
    transform: scale(1.03);
    transition: transform 400ms;
}