.content {
    width: 100%;
    height: 100vh;
}

.content.two {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content.two>img:hover {
    opacity: 0.5
}

.bg1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

