.navBar {
    position: relative;
    width: 100%;
    max-height: 10vh;
    display: flex;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem ;
    background-color: transparent;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 100;
    justify-content: space-around;
}

.navBar > a {
    text-decoration-line: none;
}
.nav__logo {
    margin-top: 2rem;
    width: 300px;
    z-index: 100;
}
.nav__logo > img {
    width: 50%;
    height: 50%;
}
.nav__contents{
    padding-right: 10rem;
    display: flex;
}
.nav__burger {
    display: flex;
    justify-content: flex-end;
    display: none;
    cursor: pointer;
    margin-right: 2rem;
}

.nav__contents li {
    padding: 0 4rem 0 4rem;
    list-style-type: none;
    font-weight: 700;
    cursor: pointer;
}

.nav__contents a {
    text-decoration: none;
    color: black;
}

.nav__cart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.nav__cart > span {
    font-size: 1.2rem;
    padding: 0 0.5rem 0 0.5rem;
}






/* Responsive CSS Part */
@media screen and (max-width: 920px) 
{
    .navBar {
        justify-content: space-around;
        width: 100%;
        align-items: center;
    }
    .nav__burger {
        display: block;
        z-index: 100;
    }
    .nav__contents {
        display: none;
    }

    .nav__contents.unactive {
        display: block;
        position: absolute;
        top: 75px;
        left: -20px;
        
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .nav__contents.unactive li {
        height: 8vh;
        width: 100%;
        display: flex;
        border-bottom: 1px solid black;
        
        justify-content: center;
        align-items: center;
    }
    .nav__contents.unactive li:hover{
        background-color: white;
        
    }
    .nav__cart {
        margin-left: 2rem;
    }
}
